blocklists/generated/unbound/extensions/cbuijs/adult-domains-24733.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/unbound/porn/chadmayfield/pi-blocklist-porn-all.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/templates/extensions/cbuijs/adult-domains-24733.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/templates/porn/chadmayfield/pi-blocklist-porn-all.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/adguard/extensions/cbuijs/adult-domains-24733.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/adguard/porn/chadmayfield/pi-blocklist-porn-all.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/127.0.0.1/extensions/cbuijs/adult-domains-24733.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/127.0.0.1/porn/chadmayfield/pi-blocklist-porn-all.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/rpz/extensions/cbuijs/adult-domains-24733.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/rpz/porn/chadmayfield/pi-blocklist-porn-all.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/dnsmasq/extensions/cbuijs/adult-domains-24733.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/dnsmasq/porn/chadmayfield/pi-blocklist-porn-all.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/0.0.0.0/extensions/cbuijs/adult-domains-24733.fork.txt filter=lfs diff=lfs merge=lfs -text
blocklists/generated/0.0.0.0/porn/chadmayfield/pi-blocklist-porn-all.fork.txt filter=lfs diff=lfs merge=lfs -text
