#cover-header {
    text-shadow: 0 0 21px #00000055
}

#pihole {
    text-shadow: 0 0 16px #f70000;
}

#adguard {
    text-shadow: 0 0 16px #24d91b;
}

/* Content */
.content h2 {
    margin-bottom: 13px;
}

/* Cover */
#icons img {
    margin: 5px;
    height: 50px;
    transition: .2s;
}

#icons img:hover {
    opacity: 0.7;
}

#icons img:active {
    opacity: 0.9;
}

/* Card */
.card {
    display: flex;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(229, 229, 229, 0.14);
    overflow: hidden;
}

.card-text h3 {
    font-size: 23px;
    margin-bottom: 0;
}

.card-text {
    flex: 2;
    padding: 20px;
}

.card-text p {
    font-size: 17px;
    line-height: 1.6;
}

.card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.card-img img {
    max-width: 100%!important;
    height: auto
}



/* Categories */
#category-big {
    font-size: 29px;
    font-weight: 700;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 8px;
    background-color: #09090a;
}

#category-small {
    font-size: 28px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 8px;
    background-color: #09090a;
}

.stats-content {
    padding: 18px;
    background-color: #121215;
    border-radius: 0 0 8px 8px;
    font-size: 33px;
}

.stats-loading-gif {
    height: 31px;
}

#stats-footer {
    text-align: center;
    padding-top: 18px;
    font-size: 16px;
}

/* CSS classes for update animations */
.stats-updated {
    animation: updateAnimation 2s ease-in-out;
}

@keyframes updateAnimation {
    0%, 100% {
        background-color: rgba(255, 255, 255, 0.25);
    }
    50% {
        background-color: #121215;
    }
}