<%- include('./../../includes/header.ejs', {
    meta: {
        title: 'Markdown files - Sefinek Blocklists',
        color: '#000003',
        site_name: 'Made by Sefinek♥'
    },
    header: null,
    subpage: 'explorer',
    libs: null,
    style: 'api-docs'
}) %>

<ul>
    <li><a href="/explorer/lists">/explorer/lists</a></li>
    <li><a href="/explorer/info">/explorer/info</a></li>
    <li><a href="/explorer/tutorials">/explorer/tutorials</a></li>
</ul>

<%- include('./../../includes/footer.ejs') %>