<%- include('./../../includes/header.old.ejs', {
    title: 'Markdown files - Sefinek Blocklists',
    meta: {
        keywords: 'view, viewer, markdown viewer, markdown, lists, blocklist, blocklists, info, information, tutorials, how to install pihole, how to install adguard, pihole, adguard, what is, why should i block',
        siteName: 'Made by Sefinek♥',
        color: '#000003'
    },
    canonical: '/explorer',
    header: null,
    subpage: 'explorer',
    libs: null,
    style: 'api-docs'
}) %>

<div id="docs-header">» View Markdown files</div>

<ul>
    <li><a href="/explorer/lists">Blocklists: <code>/explorer/lists</code></a></li>
    <li><a href="/explorer/info">What is [...]? Why should I block [...]?: <code>/explorer/info</code></a></li>
    <li><a href="/explorer/tutorials">How to install Pi-hole or AdGuard?: <code>/explorer/tutorials</code></a></li>
</ul>

<%- include('./../../includes/footer.ejs') %>