<%- include('./../../includes/header.ejs', {
    meta: {
        title: 'Markdown files - Sefinek Blocklists',
        color: '#000003',
        site_name: 'Made by Sefinek♥'
    },
    header: null,
    subpage: 'explorer',
    libs: null,
    style: 'api-docs'
}) %>

<div id="docs-header">» View Markdown files</div>

<ul>
    <li><a href="/explorer/lists">Blocklists: <code>/explorer/lists</code></a></li>
    <li><a href="/explorer/info">What is [...]? Why should I block [...]?: <code>/explorer/info</code></a></li>
    <li><a href="/explorer/tutorials">How to install Pi-hole or AdGuard?: <code>/explorer/tutorials</code></a></li>
</ul>

<%- include('./../../includes/footer.ejs') %>