<%- include('./includes/header.ejs', {
    title: 'API for developers - Sefinek Blocklists',
    meta: {
        desc: 'In this subpage, you will find APIs for developers or programmers. Although these endpoints are rather less useful, who knows, maybe someone will find them handy (:',
        tags: 'api, sha256, sefinek api, blocklist sha256, cache, uptime, blocklist version, static, logs, generated',
        siteName: 'Made by Sefinek♥',
        color: '#000003'
    },
    canonical: '/api',
    subpage: 'api',
    libs: null,
    style: 'api-docs'
}) %>

<div class="cover">
    <div class="cover-text">
        <h1>API for developers 👤</h1>
    </div>
</div>

<div class="content">
    <div class="container-box">
        <div class="container-text">
            <div class="endpoint">
                <code><b>GET</b> <a href="/api/v1/version">/api/v1/version</a></code>
                <div>This endpoint allows you to retrieve the project and Node.js version information.</div>
            </div>

            <div class="endpoint">
                <code><b>GET</b> <a href="/api/v1/uptime">/api/v1/uptime</a></code>
                <div>With this endpoint, you can obtain the uptime of the Node.js application.</div>
            </div>

            <div class="endpoint">
                <code><b>GET</b> <a href="/api/v1/static/generated/">/api/v1/static/generated/:path</a></code>
                <div>This endpoint provides an object containing static files in JSON format.</div>
            </div>

            <div class="endpoint">
                <code><b>GET</b> <a href="/api/v1/static/logs/">/api/v1/static/logs/:fileName</a></code>
                <div>Using this endpoint, you can access an object containing log files in JSON format.</div>
            </div>

            <div class="endpoint">
                <code><b>GET</b> <a href="/api/v1/static/cache/">/api/v1/static/cache/:path</a></code>
                <div>Get a JSON object containing the SHA256 of the blocking list.</div>
            </div>
        </div>

        <h2>Allowed requests</h2>
        <div class="container-text">
            Supported request methods: <code>GET</code> & <code>HEAD</code><br>
            Make sure to use the appropriate method for each endpoint to ensure the correct handling of your requests.
        </div>
    </div>

    <h2>Credits</h2>
    <div class="header-text">
        Special thanks to <a href="https://github.com/c-bertran" target="_blank" title="github.com/c-bertran">c-bertran</a> for invaluable contributions to the development and enhancement of the <a href="https://github.com/c-bertran/express-autoindex" target="_blank" title="c-bertran/express-autoindex">express-autoindex</a> npm module, which is utilized in this project.
    </div>
</div>

<%- include('./includes/footer.ejs') %>