<%- include('./includes/header.ejs', {
    meta: {
        title: 'API for developers - Sefinek Blocklists',
        description: 'This subpage displays the update time of repositories containing the list of blocklists for your time zone. You can refer to it to set up a suitable cron job for updating the blocklist on your instance, such as Pi-hole.',
        keywords: 'update, frequency, pi-hole, cron, time, timezone, date, sefinek, blocklist, collection',
        color: '#000003',
        site_name: 'Made by Sefinek♥'
    },
    header: null,
    subpage: 'api',
    libs: null,
    style: 'api-docs'
}) %>

<div id="docs-header">» Json pages</div>
<div id="docs-text">
    <div class="endpoint">
        <code>GET <a href="/api/v1/version">/api/v1/version</a></code>
        <div>This endpoint allows you to retrieve the project and Node.js version information.</div>
    </div>

    <div class="endpoint">
        <code>GET <a href="/api/v1/uptime">/api/v1/uptime</a></code>
        <div>With this endpoint, you can obtain the uptime of the Node.js application.</div>
    </div>

    <div class="endpoint">
        <code>GET <a href="/api/v1/static/generated/">/api/v1/static/generated/</a></code>
        <div>This endpoint provides an object containing static files in JSON format.</div>
    </div>
    <div class="endpoint">
        <code>GET <a href="/api/v1/static/logs/">/api/v1/static/logs/</a></code>
        <div>Using this endpoint, you can access an object containing log files in JSON format.</div>
    </div>
</div>

<div id="docs-header">» Allowed requests</div>
<div id="docs-text">
    Supported request methods: <code>GET</code>, <code>HEAD</code><br>
    Make sure to use the appropriate method for each endpoint to ensure the correct handling of your requests.
</div>

<div id="docs-header">» Credits</div>
<div id="docs-text">
    Special thanks to <a href="https://github.com/c-bertran" target="_blank" title="github.com/c-bertran">c-bertran</a> for invaluable contributions to the development and enhancement of the <a href="https://github.com/c-bertran/express-autoindex" target="_blank" title="c-bertran/express-autoindex">express-autoindex</a> npm module, which is utilized in this project.
</div>

<%- include('./includes/footer.ejs') %>