<%- include('./includes/header.ejs', {
    title: 'API for developers - Sefinek Blocklists',
    meta: {
        desc: 'In this subpage, you will find APIs for developers or programmers. Although these endpoints are rather less useful, who knows, maybe someone will find them handy (:',
        tags: 'api, sha256, sefinek api, blocklist sha256, cache, uptime, blocklist version, static, logs, generated',
        siteName: 'Made by Sefinek♥',
        color: '#000003'
    },
    canonical: '/api',
    subpage: 'api',
    libs: null,
    style: 'api-docs'
}) %>

<div class="cover">
    <header class="cover-text">
        <h1>API for developers 👤</h1>
    </header>
</div>

<main>
    <div class="container-box">
        <div class="container-text">
            <div class="endpoint">
                <code><b>GET</b> <a href="/api/v1/version">/api/v1/version</a></code>
                <div>This endpoint allows you to retrieve the project and Node.js version information.</div>
            </div>

            <div>
                <code><b>GET</b> <a href="/api/v1/uptime">/api/v1/uptime</a></code>
                <div>With this endpoint, you can obtain the uptime of the Node.js application.</div>
            </div>
        </div>
    </div>
</main>

<%- include('./includes/footer.ejs') %>