<%- include('./includes/header.ejs', {
    title: 'Changelog - Sefinek Blocklists',
    meta: {
        desc: 'Changelog for Sefinek Blocklists',
        tags: 'changelog, sefinek, blocklists, adblock, hosts, filter, list, tracker, malware, phishing, scam, spam, ads, tracking, analytics, social, widgets, adult, gambling',
        siteName: 'Made by Sefinek♥',
        color: '#000003'
    },
    canonical: '/changelog',
    subpage: 'changelog',
    libs: null,
    style: 'viewer'
}) %>

<div class="content">
    <div class="container-box">
        <%- html %>
    </div>
</div>

<%- include('./includes/footer.ejs') %>