<%- include('./includes/header.ejs', {
    title: 'Report a false positive - Sefinek Blocklists',
    meta: {
        desc: 'Easy reporting of false positives.',
        tags: 'false positive, report, blocklists, Sefinek, filtering, accurate blocklists, improve service, feedback',
        siteName: 'Made by Sefinek♥',
        color: '#000103'
    },
    canonical: '/false-positives',
    subpage: 'false-positives',
    libs: null,
    style: 'false-positives'
}) %>

<div class="cover">
    <header class="cover-text">
        <h1>False positive report</h1>
    </header>
</div>

<main>
    <div class="container-box">
        <div class="container-text">
            <h2 style="padding-bottom:10px">
                How to report a false positive?
            </h2>

            <div>
                <ul>
                    <li><a href="https://github.com/sefinek/Sefinek-Blocklist-Collection/issues" target="_blank">GitHub issues</a></li>
                    <li><a href="https://github.com/sefinek/Sefinek-Blocklist-Collection?tab=readme-ov-file#-contributing" target="_blank">Pull requests</a></li>
                    <li><a href="mailto:contact@sefinek.net" target="_blank">Via email</a></li>
                    <li><a href="https://discord.gg/53DBjTuzgZ" target="_blank">On my Discord server</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>

<%- include('./includes/footer.ejs') %>