<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blocklist Collection - Sefinek</title>
    <meta name="description" content="The best collection of block lists for Pi-hole and AdGuard with +100 links and +6 million domains on Adlists.">
    <meta name="keywords" content="blocklist, pihole, adguard, ublock origin, links, urls, blacklist, polskie, listy, blokowan, polskie listy pihole, adlisty pihole, generator pihole, pihole blocklist generator, generator listy blokowan">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#000003">
    <meta property="og:site_name" content="Made by Sefinek♥">
    <meta property="og:url" content="https://blocklist.sefinek.net">

    <style>
        body {
            background-color: #000003;
            color: #fff;
            font-size: 19px;
            font-family: "Cambria Math", sans-serif;
        }
        h1 {
            text-align: center
        }
        h2 {
            text-align: center
        }
        a {
            color: cornflowerblue;
        }
        a:hover {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Blocklist Collection made by Sefinek</h1>
    <hr>

    <ul>
        <li><a href="https://github.com/sefinek24/Sefinek-Blocklist-Collection">sefinek24/Sefinek-Blocklist-Collection</a></li>
        <li><a href="https://sefinek.net/blocklist-generator">Blocklist Customization - Sefinek's Website</a></li>
    </ul>

    <h2>>> ⭐ if you ❤️ <<</h2>
</body>
</html>