<%- include('./includes/header.ejs', {
    title: 'Sefinek Blocklist - The best lists for your AdBlocker',
    meta: {
        desc: 'The best collection of blocklists for Pi-hole and AdGuard with +100 links and +6 million domains on Adlists.',
        tags: 'blocklist, pihole, adguard, ublock origin, links, urls, blacklist, polskie, listy, blokowan, polskie listy pihole, adlisty pihole, generator pihole, pihole blocklist generator, generator listy blokowan',
        siteName: 'Made by Sefinek♥',
        color: '#000103'
    },
    canonical: '',
    subpage: 'home',
    libs: null,
    style: 'index'
}) %>

<div class="cover">
    <div class="cover-text">
        <h1 id="cover-header">Sefinek Blocklists - v<%= version %></h1>
        <div>
            The best lists for your DNS server or AdBlocker. Your first and last reliable list, with zero false positives.<br>
            Make your internet safer right now! Browse without interruptions and safeguard your privacy.
        </div>

        <div>
            <a href="https://sefinek.net/blocklist-generator"><button>Blocklist generator</button></a>
            <a href="#more-info"><button>Read more information</button></a>
            <a href="#stats"><button>Go to statistics</button></a>
        </div>

        <div id="icons">
            <a href="https://sefinek.net/support-me" target="_blank" title="Support this project. Every donation will be appreciated."><img src="/images/flaticon/circle.png" alt="Dating icons created by hqrloveq - Flaticon"></a>
            <a href="https://www.youtube.com/watch?v=xfTX8GVw3B8" target="_blank" title="Collection of block lists for Pi-hole with +100 links and +6 million domains - YouTube"><img src="/images/flaticon/youtube.png" alt="YouTube logo (downloaded from flaticon.com)"></a>
            <a href="https://github.com/sefinek24/Sefinek-Blocklist-Collection" target="_blank" title="sefinek24/Sefinek-Blocklist-Collection"><img src="/images/flaticon/github.png" alt="GitHub logo (downloaded from flaticon.com)"></a>
        </div>
    </div>
</div>


<div class="content">
    <div class="container-box" id="more-info">
        <h2>📝 Information</h2>
        <div class="container-text">
            Welcome to Sefinek Blocklists, your premier destination for top-quality AdBlocker lists.
            We are dedicated to delivering the most reliable and comprehensive lists that effectively eliminate unwanted ads without any false positives.
            Our blocklists ensure a safer, more private, and faster online browsing experience for you.
            <br>
            Say goodbye to false positives and interruptions, and enjoy seamless browsing while safeguarding your privacy!
        </div>
    </div>


    <h2 id="pihole">What is Pi-hole? 🍒</h2>
    <div class="header-text">
        Pi-hole is not just an effective ad-blocking tool but also an intelligent guardian of privacy, ensuring the security of your data.
        <br>
        It operates at the DNS level, allowing it not only to eliminate annoying ads but also to protect against activity tracking and potential sources of malicious software.
        <br>
        Its ability to intercept unwanted content before it reaches devices enhances both the speed and security of internet usage.
        Moreover, Pi-hole enables filter customization and activity monitoring, giving users greater control over what is blocked.
        <br>

        Using Pi-hole not only enhances internet browsing comfort by eliminating ads but, more importantly, it significantly heightens privacy protection and data security.
    </div>


    <h2 id="adguard">What is AdGuard? ✅</h2>
    <div class="header-text">
        AdGuard employs a comprehensive approach to blocking unwanted content across web browsers and mobile applications, ensuring a seamless user experience.
        It offers user-friendly products such as browser extensions and mobile apps, available in both free and premium versions.
        In addition to content blocking, AdGuard provides built-in lists and is well-suited for parental control purposes.
        <br>
        The decision between Pi-hole and AdGuard hinges on your specific requirements.
        If you need a network-wide blocker, Pi-hole is the optimal solution.
        However, for application-based content blocking with added privacy features and built-in lists, especially designed for parental control, AdGuard stands as an excellent choice for a smooth, secure, and ad-free online experience.
    </div>



    <h2>Okay, but why choose Sefinek Blocklists? 🤔</h2>
    <div class="card">
        <div class="card-text">
            <h3>Our Commitment to Privacy and Quality</h3>
            <p>
                Our blocklists receive continuous support and monitoring to enhance your online experience.
                We go beyond mere ad-blocking, dedicating ourselves to improving your overall browsing satisfaction.
                If any member of our community encounters a false positive, we promptly report it to the original list author.
                We firmly believe in the power of collaboration to ensure the best online experience and optimal privacy for everyone.
            </p>
        </div>
        <div class="card-img">
            <img src="/images/flaticon/hand.png" alt="Hand from flaticon.com">
        </div>
    </div>

    <div class="card">
        <div class="card-img">
            <img src="/images/flaticon/privacy.png" alt="Privacy from flaticon.com">
        </div>
        <div class="card-text">
            <h3>Privacy Reinforced</h3>
            <p>
                At the forefront of our mission is your privacy.
                Our blocklists go beyond mere ad elimination; they're meticulously crafted to bolster your online privacy.
                By intercepting potentially harmful trackers, we fortify the protection of your personal information from unwanted surveillance.
                With our extensive lists, you can confidently explore the web, knowing your data remains secure and your privacy is fortified.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-text">
            <h3>Elevating Your Online Experience with Low False Positives</h3>
            <p>
                Precision is at the core of our approach.
                We take pride in maintaining an exceptionally low false positive rate with our blocklists.
                Our unwavering commitment to accuracy ensures that your online experience remains uninterrupted, enabling you to browse, work, and play with confidence and ease.
                We understand how constant disruptions and false alarms can be frustrating.
                That's why our team works tirelessly to continuously refine and optimize our lists, minimizing the likelihood of any false positives.
                Your satisfaction and online security are our top priorities, and our goal is to offer you a reliable solution for a seamless digital journey.
            </p>
        </div>
        <div class="card-img">
            <img src="/images/flaticon/cross.png" alt="Cross from flaticon.com">
        </div>
    </div>

    <div class="card">
        <div class="card-img">
            <img src="/images/flaticon/loop.png" alt="Loop from flaticon.com">
        </div>
        <div class="card-text">
            <h3>Synchronization and Maintaining Security</h3>
            <p>
                At Sefinek Blocklists, we understand the critical need to keep pace with evolving online threats for the effectiveness of our blocklists.
                That's why we've established a robust synchronization process.
                Our blocklists undergo synchronization every 2 hours within our GitHub repository, ensuring you have continual access to the most current versions.
                Additionally, we conduct daily updates on our primary server at 01:00 and 06:00, synchronized with the Polish time zone, to consistently refresh our blocklists.
                This dedication enhances the security of your online experience.
                We are committed to preserving the timeliness and accuracy of our blocklists, granting you the confidence to navigate the internet securely, shielded from intrusive trackers, ads and potential online threats.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-text">
            <h3>Faster Page Loading</h3>
            <p>
                Say goodbye to sluggish web page loading.
                Our carefully curated blocklists are optimized to reduce website loading times.
                By blocking resource-intensive ads and scripts, we guarantee a smoother and more efficient browsing experience.
                Enjoy quicker page loading times, ensuring swift access to your desired content without unnecessary delays.
                This ensures that your online journey remains swift and trouble-free.
            </p>
        </div>
        <div class="card-img">
            <img src="/images/flaticon/loading-bar.png" alt="Loading bar from flaticon.com">
        </div>
    </div>

    <div class="card">
        <div class="card-img">
            <img src="/images/flaticon/cloud.png" alt="Cloud from flaticon.com">
        </div>
        <div class="card-text">
            <h3>Secure and Swift Server, Empowered by Cloudflare</h3>
            <p>
                At the heart of our service lies a secure and high-speed server, fortified by the capabilities of Cloudflare, a leading content delivery and security network.
                We prioritize the reliability and performance of our blocklists, ensuring rapid, uninterrupted updates and an elevated level of security.
                What truly distinguishes us is our steadfast dedication to your privacy.
                We do not store sensitive user information such as your IP address, reaffirming our commitment to safeguarding your online privacy.
                Your protection and privacy remain our top priorities.
                Our server, reinforced by Cloudflare's advanced capabilities, is designed to withstand potential threats while efficiently delivering your blocklist updates, providing you with both a secure and swift online experience.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-text">
            <h3>Open Source Project on GitHub</h3>
            <p>
                Developers from around the globe are invited to delve into our source code, share their expertise, and become integral members of a community that champions transparency.
                Beyond fostering innovation, we hold your privacy in high regard, ensuring a secure and respectful environment.
                Join us in shaping a future where technology and privacy thrive in harmony.
            </p>
        </div>
        <div class="card-img">
            <img src="/images/flaticon/coding.png" alt="Coding icon from flaticon.com">
        </div>
    </div>


    <h2 style="margin-top:40px" id="stats">Are you ready for stats? 📝</h2>
    <div class="container-stats">
        <div class="card-stats">
            <div id="category-big">All requests</div>
            <div class="stats-content" id="stats-content-all-requests"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
        <div class="card-stats">
            <div id="category-big">Blocklist requests</div>
            <div class="stats-content" id="stats-content-blocklist-requests"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
    </div>

    <div class="container-stats">
        <div>
            <div id="category-small">127.0.0.1</div>
            <div class="stats-content" id="stats-content-127001"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
        <div>
            <div id="category-small">0.0.0.0</div>
            <div class="stats-content" id="stats-content-00000"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
        <div>
            <div id="category-small">AdGuard</div>
            <div class="stats-content" id="stats-content-adguard"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
        <div>
            <div id="category-small">Dnsmasq</div>
            <div class="stats-content" id="stats-content-dnsmasq"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
        <div>
            <div id="category-small">No IP</div>
            <div class="stats-content" id="stats-content-noip"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
    </div>

    <div class="container-stats">
        <div>
            <div id="category-small">Responses 404</div>
            <div class="stats-content" id="stats-content-404"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
        <div>
            <div id="category-small">Responses 429</div>
            <div class="stats-content" id="stats-content-429"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
        <div>
            <div id="category-small">Responses 500</div>
            <div class="stats-content" id="stats-content-500"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
        <div>
            <div id="category-small">Responses 503</div>
            <div class="stats-content" id="stats-content-503"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></div>
        </div>
    </div>


    <div id="stats-footer">
        <code>Statistics are effective from: 03.05.2024, 13:00 [Europe/Warsaw]</code>
    </div>


    <h2 style="margin-top:40px">Our Server 🌍</h2>
    <div class="container-stats">
        <div>
            <div>Uptime:</div>
            <code id="stats-content-uptime"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></code>
        </div>
        <div>
            <div>CPU usage:</div>
            <code id="stats-content-cpu-load"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></code>
        </div>
        <div>
            <div>Collection date:</div>
            <code id="stats-content-coll-cAt"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></code>
        </div>
        <div>
            <div>Last collection update:</div>
            <code id="stats-content-coll-uAt"><img src="/images/loading.gif" class="stats-loading-gif" alt="Loading"></code>
        </div>
    </div>
</div>


<script>
    const WEBSOCKET = `<%= process.env.WS_FULL %>`;
</script>

<script src="/js/websocket.js"></script>

<%- include('./includes/footer.ejs') %>