<%- include('./includes/header.ejs', {
    meta: {
        title: 'Json data for developers - Sefinek Blocklists',
        description: 'This subpage displays the update time of repositories containing the list of blocklists for your time zone. You can refer to it to set up a suitable cron job for updating the blocklist on your instance, such as Pi-hole.',
        keywords: 'update, frequency, pi-hole, cron, time, timezone, date, sefinek, blocklist, collection',
        color: '#000003',
        site_name: 'Made by Sefinek♥'
    },
    subpage: 'json',
    libs: 'luxon',
    style: 'index'
}) %>

<div id="docs-header">» Json pages</div>
<div id="docs-text">
    <code>GET <a href="/json/generated/">/json/generated/{dirs}</a></code><br>
    <code>GET <a href="/json/logs/">/json/logs</a></code>
</div>

<div id="docs-header">» Allowed requests</div>
<div id="docs-text">
    <code>GET</code>,
    <code>HEAD</code>
</div>

<div id="docs-header">» Credits</div>
<div id="docs-text">
    Thanks to <a href="https://github.com/c-bertran" target="_blank" title="github.com/c-bertran">c-bertran</a> for creating and fixing the <a href="https://github.com/c-bertran/express-autoindex" target="_blank" title="c-bertran/express-autoindex">express-autoindex</a> <a href="https://www.npmjs.com/package/express-autoindex" target="_blank" title="www.npmjs.com/package/express-autoindex">npm module</a> used in this project.
</div>

<%- include('./includes/footer.ejs') %>