<%- include('./includes/header.ejs', {
    title: `${file} - Sefinek Blocklists`,
    meta: {
        desc: 'View the markdown file in your browser.',
        siteName: 'Made by Sefinek♥',
        color: '#000003'
    },
    canonical: '',
    subpage: 'markdown',
    libs: null,
    style: 'viewer'
}) %>

<div class="cover">
    <div class="cover-text">
        <h1><%= file %></h1>
    </div>
</div>

<div class="content">
    <div class="container-box">
        <table id="table">
            <%- html %>
        </table>
    </div>
</div>

<%- include('./includes/footer.ejs') %>