<%- include('./includes/header.ejs', {
    title: 'Markdown files - Sefinek Blocklists',
    meta: {
        tags: 'view, viewer, markdown viewer, markdown, lists, blocklist, blocklists, info, information, tutorials, how to install pihole, how to install adguard, pihole, adguard, what is, why should i block',
        siteName: 'Made by Sefinek♥',
        color: '#000003'
    },
    canonical: '/markdown',
    subpage: 'markdown',
    libs: null,
    style: 'markdown'
}) %>

<div class="cover">
    <header class="cover-text">
        <h1>View Markdown files</h1>
    </header>
</div>

<main>
    <div class="container-box">
        <div class="container-text">
            <h2>View our blocklists:</h2>
            <div class="header-text">
                <a href="/generated/v1"><code>/generated</code></a>
            </div>

            <h2>What is [...]? Why should I block [...]?</h2>
            <div class="header-text">
                <a href="/markdown/info"><code>/markdown/info</code></a>
            </div>

            <h2>How to install Pi-hole or AdGuard?:</h2>
            <div class="header-text">
                <a href="/markdown/tutorials"><code>/markdown/tutorials</code></a>
            </div>
        </div>
    </div>
</main>

<%- include('./includes/footer.ejs') %>