<%- include('./includes/header.ejs', {
        meta: {
        title: 'Update frequency - Sefinek Blocklists',
        description: 'This subpage displays the update time of repositories containing the list of blocklists for your time zone. You can refer to it to set up a suitable cron job for updating the blocklist on your instance, such as Pi-hole.',
        keywords: 'update, frequency, pi-hole, cron, time, timezone, date, sefinek, blocklist, collection',
        color: '#000103',
        site_name: 'Made by Sefinek♥'
    },
    header: null,
    subpage: 'update-freqency',
    libs: 'luxon',
    style: 'index'
}) %>

<p>
    <b>Your timezone:</b> <span id="user-timezone"></span>
</p>
<p>
    <b>Remote (GitHub):</b> <span id="github"></span>
    <br>
    <b>Local (blocklist.sefinek.net):</b> <span id="remote"></span>
</p>

<code>
    This subpage displays the update time of repositories containing the list of blocklists for your time zone.<br>
    You can refer to it to set up a suitable cron job for updating the blocklist on your instance, such as Pi-hole.
</code>

<script>
    function showCronInfo() {
        const userTimezone = luxon.DateTime.local().zoneName;
        document.getElementById('user-timezone').innerHTML = userTimezone;

        const github = luxon.DateTime.fromISO('<%= cron.github %>').setZone(userTimezone);
        const remote = luxon.DateTime.fromISO('<%= cron.remote %>').setZone(userTimezone);

        document.getElementById('github').innerHTML = github.toLocaleString(luxon.DateTime.DATETIME_MED);
        document.getElementById('remote').innerHTML = remote.toLocaleString(luxon.DateTime.DATETIME_MED);
    }

    window.onload = showCronInfo;
</script>

<%- include('./includes/footer.ejs') %>