<%- include('./includes/header.ejs', {
    title: 'Update schedule - Sefinek Blocklists',
    meta: {
        desc: 'This subpage displays the update time of repositories containing the list of blocklists for your time zone. You can refer to it to set up a suitable cron job for updating the blocklist on your instance, such as Pi-hole.',
        tags: 'update, frequency, schedule, pi-hole, cron, time, timezone, date, sefinek, blocklist, collection',
        siteName: 'Made by Sefinek♥',
        color: '#000103'
    },
    canonical: '/update-schedule',
    subpage: 'update-schedule',
    libs: 'luxon',
    style: 'update-schedule'
}) %>

<div class="cover">
    <header class="cover-text">
        <h1>Update schedule ⏰</h1>
    </header>
</div>

<main>
    <div class="container-box">
        <div class="container-text">
            <div style="padding-bottom:10px">
                <b>Your timezone:</b> <span id="user-timezone"></span>
            </div>

            <div>
                <b>Local (blocklist.sefinek.net):</b> <span id="remote"></span><br>
                <b>Remote (GitHub):</b> <span id="github"></span>
            </div>
        </div>
    </div>

    <div class="header-text">
        <h2>Information</h2>
        <div style="padding-bottom:20px">
            This subpage shows the upcoming task for updating blocklist repositories based on the specified time zone.<br>
            You can use it to configure a cron job for automatically updating the blocklist.
        </div>

        <h2>IMPORTANT!</h2>
        <div>
            Do not download the lists too often. Downloading them too frequently may result in a permanent IP address block.<br>
            The blocklists are <a href="/logs/v1">synchronized daily</a> on the main server (blocklist.sefinek.net) at 1:00 AM (this usually takes less than 1 minute), so downloading them every hour is not necessary.
        </div>
    </div>
</main>

<script>
    const showCronInfo = () => {
        const userTimezone = luxon.DateTime.local().zoneName;
        document.getElementById('user-timezone').textContent = userTimezone;

        const github = luxon.DateTime.fromISO('<%= cron.github %>').setZone(userTimezone);
        const remote = luxon.DateTime.fromISO('<%= cron.remote %>').setZone(userTimezone);

        document.getElementById('github').textContent = github.toLocaleString(luxon.DateTime.DATETIME_MED);
        document.getElementById('remote').textContent = remote.toLocaleString(luxon.DateTime.DATETIME_MED);
    }

    document.addEventListener('DOMContentLoaded', showCronInfo);
</script>

<%- include('./includes/footer.ejs') %>