<%- include('includes/header.ejs', { title: 'Error 404: File not found' }) %>

<div id="content">
    <h1 id="content-header">Error 404: File not found</h1>
    <div id="content-text">The requested resource could not be found on the server. Go to <a href="/">Home page</a>.</div>

    <a href="#music" id="play-button" type="button">>.<</a>
</div>

<%- include('includes/footer.ejs') %>