<%- include('includes/header.ejs', { title: 'Error 404: File not found' }) %>

<main>
    <h1 id="header">Error 404: File Not Found</h1>
    <div id="text">The requested resource could not be found on the server. Please return to the <a href="/">home page</a>.</div>

    <a href="#music" id="play-button" type="button"></a>
</main>

<%- include('includes/footer.ejs') %>