<%- include('includes/header', { title: 'Error 404: File not found' }) %>

<h1>Error 404: File not found</h1>
<p>The requested resource could not be found on the server.</p>

<%- include('includes/footer', { code: 404 }) %>