<%- include('includes/header.ejs', { title: 'Error 429: Too many requests' }) %>

<main id="content">
    <h1 id="header">Error 429: Too many requests</h1>
    <div id="text">The user has sent too many requests in a given amount of time.</div>

    <a href="#music" id="play-button" type="button">>.<</a>
</main>

<%- include('includes/footer.ejs') %>