<%- include('includes/header', { title: 'Error 500: Internal Server Error' }) %>

<h1>Error 500: Internal server error</h1>
<p>The server encountered an error. Please try again or report this issue.</p>

<%- include('includes/footer', { code: 500 }) %>