<%- include('includes/header.ejs', { title: 'Error 503: Service unavailable' }) %>

<div id="content">
    <h1 id="content-header">Error 503: Service unavailable</h1>
    <div id="content-text">The server is unable to process the request due to being overloaded or undergoing maintenance. Typically, this is a temporary situation.</div>

    <a href="#music" id="play-button" type="button">>.<</a>
</div>

<%- include('includes/footer.ejs') %>