<%- include('includes/header.ejs', { title: 'Error 503: Service unavailable' }) %>

<main>
    <h1 id="header">Error 503: Service unavailable</h1>
    <div id="text">The server is unable to process the request due to being overloaded or undergoing maintenance. Typically, this is a temporary situation.</div>

    <a href="#music" id="play-button" type="button">>.<</a>
</main>

<%- include('includes/footer.ejs') %>