<%- include('includes/header.ejs', { title: 'Error 503: Service unavailable' }) %>

<main>
    <h1 id="header">Error 503: Service Unavailable</h1>
    <div id="text">The server is temporarily unable to process the request due to overload or maintenance. Please try again later.</div>

    <a href="#music" id="play-button" type="button"></a>
</main>

<%- include('includes/footer.ejs') %>