html {
    font-family:Caladea,sans-serif
}

/* Background */
.cover {min-height:38vh!important}

/* Content */
.container-box {
    margin-bottom:0;
}

/* Table */
table {
    border-collapse:collapse;
    font-family:'Courier New',Courier,monospace;
    font-size:14px;
    font-style:normal;
    font-weight:400;
    letter-spacing:normal;
    line-height:normal
}

tr td:first-child {
    min-width:30%
}

td a {
    align-items:center;
    display:flex;
    margin-right:3em
}

td.size {
    padding-left:24px;
    text-align:right;
    white-space:nowrap
}

.link-img {
    display:inline-block;
    height:23px;
    margin-bottom:5px;
    margin-right:7px;
    vertical-align:middle;
    width:23px
}

.size span {
    display:inline-block;
    min-width:60px
}

/* Button */
button {
    background-color: dodgerblue;
    border:none;
    border-radius:5px;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:15px;
    margin:11px;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    transition:.2s
}

button:hover {
    background-color:#459a49!important;
}

button:active {
    background-color:rgba(69,160,73,0.8)!important;
}

/* Styles for compact mode */
.compact-mode td.size {
    padding-left:15px!important;
}

.compact-mode td a {
    margin-right:2em
}

.compact-mode .link-img {
    height:20px;
    margin-bottom:2px;
    margin-right:6px;
    width:21px
}