/* Main */
body {
    background-color: #000103;
    color:#fff;
    font-size:19px;
    font-family:"Calibri",sans-serif
}
a {
    color:cornflowerblue;
    text-decoration:none
}
a:hover {
    color:blue;
    text-decoration:underline;
}
#header {
    text-align:center;
    font-size:40px
}

#links a {text-decoration:none}
#selected {text-decoration:underline}

/* Other */
#text {text-align:center}

/* Containers */
@media (max-width: 768px) {
    .container {
        flex-direction:column;
        align-items:center
    }
    .container > div {
        flex:1 0 100%;
        max-width:100%
    }
}

.container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:flex-end
}

.container > div {
    flex:1 0 300px;
    margin-right:7px;
    margin-bottom:7px;
    text-align:center
}