#cover-header {
    text-shadow: 0 0 8px #000;
}

#pihole {
    text-shadow: 0 0 24px #f70000;
}

#adguard {
    text-shadow: 0 0 24px #24d91b;
}

/* Content */
main h2 {
    margin-bottom: 13px;
}

/* Cover */
#icons img {
    margin: 3px;
    height: 45px;
    transition: 0.2s;
}

#icons img:hover {
    opacity: 0.7;
}

#icons img:active {
    opacity: 0.9;
}

#highlight {
    backdrop-filter: blur(20px);
    background-color: #ffffff0a;
    border: 1px solid #000a184d;
    border-radius: 16px;
    box-shadow: 0 0 10px #00000024;
    font-family: Caladea, sans-serif;
    font-size: 18px;
    margin-left: 156px;
    margin-right: 156px;
    padding: 7px 0;
}

#advertisement {
    right: 7px;
    bottom: 7px;
    font-size: 16px;
    position: absolute;
    color: #d8d8fc;
    text-shadow: 0 0 4px #000;
}

#advertisement img {
    margin-left: 5px;
    height: 45px;
    width: 45px;
    vertical-align: middle;
}

/* Card */
.card {
    display: flex;
    border: 1px solid rgba(232, 232, 232, 0.45);
    border-radius: 12px;
    margin: 25px;
    box-shadow: 0 0 10px rgba(229, 229, 229, 0.09);
    overflow: hidden;
}

.card-text {
    flex: 2;
    padding: 20px;
}

.card-text h3 {
    font-size: 23px;
    margin-bottom: 0!important;
}

.card-text p {
    font-size: 17px;
    line-height: 1.3;
    margin-top: 7px;
}

.card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.card-img img {
    max-width: 100% !important;
    height: auto;
}

/* Categories */
.category-big {
    font-size: 29px;
    padding: 7px 0;
    background-color: #09090a;
    border-radius: 8px 8px 0 0;
}

.category-small {
    font-size: 28px;
    padding: 2px 0;
    background-color: #09090a;
    border-radius: 8px 8px 0 0;
}

.stats-content {
    padding: 18px;
    background-color: #121215;
    border-radius: 0 0 8px 8px;
    font-size: 34px;
}

#stats-footer {
    text-align: center;
    padding-top: 18px;
    font-size: 16px;
}

/* CSS classes for update animations */
.stats-updated {
    animation: updateAnimation 2s ease-in-out;
}

@keyframes updateAnimation {
    0%, 100% {
        background-color: rgba(255, 255, 255, 0.25);
    }
    50% {
        background-color: #121215;
    }
}