/* Global styling */
body {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
}

/* h */
h1 {
    margin: 0;
    padding-bottom: 12px;
}

h2 {
    margin: 0 0 10px;
    font-size: 28px;
    text-align: center;
}

/* Cover section styling */
.cover {
    background-image: url('/images/bg3.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.cover::before {
    content: '';
    background: inherit;
    filter: blur(3px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cover-text {
    font-family: "Cascadia Mono", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow:0 0 4px #000
}

.cover-text h1 {
    font-size: 2.9rem;
}

.cover-text div {
    margin: 0 0 24px;
}

.cover-text a {
    text-decoration: none;
    color: #fff;
}

#gh-icon img {
    margin-top: 37px;
    height: 48px;
    transition:.3s;
}

#gh-icon img:hover {
    height: 60px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background: linear-gradient(90deg, rgba(0, 10, 24, 0.5), rgba(0, 10, 24, 0.6));
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 4px rgba(0, 10, 24, 0.66);
    backdrop-filter: blur(2px);
}

button:hover {
    background: linear-gradient(90deg, rgba(0, 10, 24, 0.6), rgba(0, 10, 24, 0.8));
    transform: scale(1.05);
    box-shadow: 0 0 7px rgba(0, 10, 24, 0.66);
    backdrop-filter: blur(10px);
}

button:active {
    background: linear-gradient(90deg, rgba(0, 10, 24, 0.2), rgba(0, 10, 24, 0.3));
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    backdrop-filter: blur(12px);
}


/* Navigation menu styling */
.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 1;
    border-radius: 0 0 12px 12px;
    backdrop-filter: blur(10px);
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 20px;
}

.navbar a:hover {
    background: linear-gradient(180deg, rgba(11, 121, 191, 0.23), rgba(11, 121, 191, 0.47));
    box-shadow: #0B79BF22 3px 3px;
}

.navbar a:active {
    background-color: #0B79BF30;
    box-shadow: none;
}

.navbar #selected {
    background: linear-gradient(180deg, rgba(11, 121, 191, 0.23), rgba(11, 121, 191, 0.47));
    backdrop-filter: blur(6px);
}


/* Menu toggle button */
.menu-toggle {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background: linear-gradient(90deg, #4A90E2, #297FB8);
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Content section styling */
.content {
    background-color: #070606;
    color: #fff;
    padding: 20px;
}


/* Responsive styles for phones */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        background-color: rgba(0, 0, 0, 0.76);
        width: 100%;
        z-index: 1;
        border-radius: 0 0 12px 12px;
        padding: 0;
        height: 0;
        overflow: hidden;
    }

    .navbar.active ul {
        height: auto;
        transition: height 0.3s;
    }

    .navbar ul li {
        margin: 14px 0;
        text-align: center;
    }

    .navbar ul a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
        padding: 10px 17px;
        border-radius: 18px;
    }
}


/* Container styling */
.container-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.container-stats > div {
    flex: 1 0 250px;
    margin-right: 7px;
    margin-bottom: 7px;
    text-align: center;
}


.container-box {
    max-width: 900px;
    padding: 20px;
    border: 3px solid rgb(30, 31, 34);
    border-radius: 10px;
    background-color: #121215;
    text-align: center;
    box-shadow: 0 0 10px rgba(30, 31, 34, 0.86);
    margin: 0 auto 40px;
}



.container-text {
    font-size: 17px;
}



/* Card */
.card {
    display: flex;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card-text h3 {
    font-size: 23px;
    margin-bottom: 0;
}

.card-text {
    flex: 2;
    padding: 20px;
}

.card-text p {
    font-size: 17px;
    line-height: 1.6;
}

.card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.card-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


/* Headers */
.header-text {
    text-align: center;
    padding-bottom: 32px;
    font-size: 17px;
}



/* Category */
#category-big {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 8px;
    background-color: #09090a;
}

#category-small {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
    background-color: #09090a;
}

.stats-content {
    padding: 18px;
    background-color: #121215;
    border-radius: 0 0 8px 8px;
    font-size: 33px;
}

.stats-loading-gif {
    height: 31px;
}

#stats-footer {
    text-align: center;
    padding-top: 18px;
    font-size: 16px;
}


/* CSS classes for update animations */
.stats-updated {
    animation: updateAnimation 2s ease-in-out;
}

@keyframes updateAnimation {
    0%, 100% {
        background-color: rgba(255, 255, 255, 0.25);
    }
    50% {
        background-color: #121215;
    }
}
