@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .container > div {
        flex: 1 0 100%;
        max-width: 100%;
    }
}

/* Main */
body {
    background-color: #000003;
    color: #fff;
    font-size: 19px;
    font-family: "Calibri", sans-serif;
}
a {
    color: cornflowerblue;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
#header {
    text-align: center;
    font-size: 40px;
}
img {
    max-width: 100%;
}

/* Other */
#text {
    text-align: center
}

#category {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.container > div {
    flex: 1 0 300px;
    margin-right: 7px;
    margin-bottom: 7px;
    text-align: center;
}

#allRequests {margin-bottom: 20px;}
#allRequests img {width: 700px;}

#lists {margin-bottom: 20px;}
#lists img {width: 380px;}

#responses img {width: 400px;}