<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="Explore static directory of blocklists or logs.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="#000003">
    <meta property="og:siteName" content="Made by Sefinek♥">
    <meta property="og:url" content="https://blocklist.sefinek.net">

    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/auto-index.css">
</head>
<body>
    <div id="header">{{title}}</div>
    <div id="links">
        <div id="text">
            <div>>> <a href="https://github.com/sefinek24/Sefinek-Blocklist-Collection">⭐ if you ❤️</a> <a href="https://sefinek.net/support-me">or support me 💸</a> <<</div>
            <div>
                🐈 <a href="https://github.com/sefinek24/Sefinek-Blocklist-Collection" title="sefinek24/Sefinek-Blocklist-Collection" target="_blank">See GitHub Repository</a> 🐈
            </div>
        </div>
    </div>
    <hr>

    <div class="container" style="padding-top:10px">
        <div>
            🏠 <a href="/">Home page</a>
        </div>
        <div>
            🎯 <a href="/update-frequency">Repo update frequency</a>
        </div>
        <div>
            📃 <a href="https://sefinek.net/blocklist-generator"><strong>Blocklist Customization</strong></a>
        </div>
        <div>
            📚 <a href="/explorer">Markdown files</a>
        </div>
        <div>
            📝 <a href="/generated"><u>File explorer</u></a>
        </div>
        <div>
            💻‍ <a href="/api">API for devs</a>
        </div>
        <div>
            📘 <a href="/logs"><u>Git pull logs</u></a>
        </div>
    </div>

    <hr>
    <h1>» {{title}}</h1>
    <table id="table">
        {{content}}
    </table>

    <button id="toggleWidthButton">Toggle table width</button>
    <button id="toggleCompactModeButton">❓❓❓❓❓❓</button>
    <button id="reloadPage">🔃 Reload page</button>

    <script src="/js/autoindex/default.js"></script>
</body>
</html>