    <div id="footer">
        🎶 <a href="https://www.youtube.com/watch?v=uX88O9OQB2A" target="_blank">Radiohead - Videotape 800% Slower</a> | 💙 <a href="https://videezy.com" target="_blank">Free Stock Videos by Videezy.com</a>
    </div>

    <video autoplay muted loop>
        <source src="/video/technology-min.mp4" type="video/mp4">
        Your browser does not support the video element.
    </video>

    <script src="/js/music.js"></script>
</body>
</html>